@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-color: transparent white transparent gray;
  }
  50% {
    transform: rotate(180deg);
    border-color: gray transparent white transparent;
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent white transparent gray;
  }
}

.Spinner {
  position: absolute;
  top: 0px;
  left: 0x;
  border: 8px solid blue;
  border-color: gray transparent white transparent;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  animation: 2s spin linear infinite;
}
